@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 400;
}

::placeholder {
  /*test for autoprefixer in postcss*/
  color: antiquewhite;
}

#app {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; */
}
