.dropdown {
  margin: 0 auto;
  width: 6rem;
  height: 100%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    background-color: #272727;
  }

  &__default {
    all: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    width: inherit;
    background-color: #121212;
    & ul {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;
      z-index: 1;

      & li {
        padding: 0.5rem 0;

        a {
          color: inherit;
        }
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.active_title {
  padding: 0.85rem 0;
  background-color: #272727 !important;
}
