.edit-game {
  left: 30vw;
  top: 5vh;
  width: 40rem;
  height: 48rem;
}

.submit-deleting {
  top: 0;
  left: 0;
}

.game-info {
  margin-left: 4rem;

  &__description {
    display: flex;
    justify-content: space-between;
  }
}

#age {
  margin-left: 7.5rem;

  & {
    background: black;
    outline: none;
    color: white;
    border: 1px solid white;
  }
}
