.header__nav {
  width: auto;
  font-size: 14px;

  &__ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 48px;

    & li {
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      flex-wrap: wrap-reverse;

      &:hover {
        background-color: #272727;
        cursor: pointer;
      }

      & button {
        all: inherit;
        padding: 0;
        width: 4rem;
      }
    }

    .profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: auto;

      li {
        width: auto;
      }
    }
  }

  &__link {
    color: inherit;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.active {
      border-bottom: 4px solid $purple;
    }
  }
}

.logo {
  width: 20px;
  height: auto;
}
