.modal {
  position: absolute;
  z-index: 1;
  top: 15vw;
  left: 35vw;
  width: 25rem;
  height: auto;
  background: black;
  padding: 2rem 1rem;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cancel {
    width: 40px;
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    font-size: 25px;
    color: white;
    font-weight: 200;
    margin: 0;
  }

  &__button {
    margin: 0 auto;
    padding: 0.8rem 4rem;
  }
}

.cancel-button {
  background: none;
  outline: none;
  border: none;
}
